<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BuildApp</title>
</head>
<body>
    <header>
        <h1><a href="/professionals">BuildApp</a></h1>
        <nav>
            <a href="/professionals">Home</a> |
            <a href="/professionals/new">Add a Professional</a>
        </nav>
        <hr>
    </header>