<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professionals App</title>
</head>
<body>
  <header>
    <h1><a href="/professionals">BuildApp</a></h1>
    <nav>
        <a href="/professionals">Home</a> |
        <a href="/professionals/new">Add a Professional</a>
    </nav>
    <hr>
</header>
</body>
</html>
